.hero {
  background-color: #001ca7c2;
  min-height: 100vh;
  padding: 40px 60px;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 100%);
}

.hero-content {
  max-width: 500px;       
  margin-top: 100px;
  
}

.hero p {
  color: white;
  text-align: start;
}

.hero h1 {
  color: #3ec6ff;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.landing {
  position: relative;
}

.landing-img {
  position: absolute;
  right: 300px;
  bottom: 1300px;
  width: 600px;  
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

span{
  font-weight:bold;
  color: #3ec6ff;
}

.catalog {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 100px;
}

.cards {
  display: flex;
  gap: 100px;
  margin: 100px;
}