/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo y tipografía base */
body {
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #08060d;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Encabezados */
h1 {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  color: #08060d;
}

h2 {
  font-family: 'Baloo 2', cursive;
  font-weight: 900;
  font-size: 50px;
  color: rgb(0, 12, 185);
}

p {
  font-size: 20px;
  color: #08060d;
}